body{
    display: flex;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(../IMG/Logo\ pacman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
}
#grille{
    display: grid;
    grid-column: 19;
    grid-row: 22;
    grid-template-columns: repeat(19,40px);
    grid-template-rows: repeat(22,40px);
    border: solid white;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mur{
    background-image: url(../IMG/mur.gif);
    /*background-color: blue;*/
}
.bonbon{
    background-image: url(../IMG/bonbon.gif);
}
.sol{
    background-image: url(../IMG/sol.gif);
    /*background-color: white;*/
}
.pacman{
    background-image: url(../IMG/pacman4.gif);
}
.score{
    color: red;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: white 7px 7px 10px;
    flex-direction: column;
    margin: auto;

}
.phantom0{
background-image: url(../IMG/fantome0.gif);
}
.phantom1{
background-image: url(../IMG/fantome1.gif);
}
.phantom2{
background-image: url(../IMG/fantome2.gif);
}
.phantom3{
background-image: url(../IMG/fantome3.gif);
}
.btn{
    margin: auto;
}
#restart{
    background-color: red;
    color: white;
    width: 300px;
    text-align: center;
    padding: 50px 0px;
    font-size: 5rem;
    display: block;
    box-shadow: white 7px 7px 10px;
    
}
#restphantom{
    background-color: red;
    color: white;
    width: 300px;
    text-align: center;
    padding: 10px 0px;
    font-size: 1rem;
    box-shadow: white 7px 7px 10px;
}